/* --- Main styling file --- */

body {
    font-family: 'Trebuchet MS', sans-serif;
    padding: 50px 0;
}

/* ----- ----- ----- ----- ----- */
/* Winner block */
.winner-headline {
    font-size: 1.5rem;
    text-align: center;
    margin: 1.7em 0 1.5em;
    font-weight: 500;
    transition: transform .3s, opacity 2s;
    transition-timing-function: ease-out;
}
#display-winner {
    font-style: italic;
    font-weight: 600;
}
.hide-winner {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-1000px);
}
/* ----- ----- ----- ----- ----- */
/* Settings block */
.settings-block {
    max-width: 105px;
    margin: 0 auto;
    position: relative;
}
.settings-btn {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    font-size: 1.1rem;
    cursor: pointer;
}
.settings-icon {
    max-width: 20px;
    transition: transform .4s;
    cursor: pointer;
}
.settings-span:hover + .settings-icon,
.settings-icon:hover,
.rotate-icon {
    transform: rotate(20deg);
}
.settings-dropdown {
    position: absolute;
    z-index: 100;
    left: -85%; top: calc(100% + .55em);
    background-color: #fff;
    padding: 1em 2em;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.5);
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity .3s ease-in-out, transform .3s ease-in-out;
    opacity: 0;
    border-radius: 5px;
}
.settings-block.active > .settings-btn + .settings-dropdown {
    opacity: 1;
    transform: translate(0);
    pointer-events: auto;
}
.input-block:last-child {
    margin-bottom: 0;
}
.input-block input {
    margin-top: .5em;
    margin-bottom: 1.2em;
    background-color: rgba(248, 224, 224, .7);
    font-size: .8rem;
}
.settings-dropdown hr {
    margin: 15px auto;
    display: block;
    width: 55%;
    opacity: .5;
}
.input-block input[name="playerName"] {
    width: 160px;
    padding: .3em 1em;
    border-radius: 15px;
}
.input-warning {
    font-size: .65rem;
    font-style: italic;
    opacity: .75;
    display: block;
}
.input-warning::before {
    content: '* ';
    vertical-align: middle;
    font-size: .8rem;
    color: rgb(213, 0, 0);
}
.input-block input[name="maxScore"] {
    padding: .4em .5em;
    max-width: 40px;
    text-align: center;
}
#save_btn {
    font-size: .9rem;
    margin: 5px auto 0;
    display: block;
    background-color: rgb(45, 189, 45);
    padding: .3em 1em;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity .3s;
}
#save_btn:hover {
    opacity: .85;
}
/* ----- ----- ----- ----- ----- */
/* Main game block */
.game-block {
    max-width: 700px;
    margin: 0 auto;
}
.background-block img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.score-block {
    height: 270px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 100px rgba(0, 0, 0, .3);
}
.player-block {
    width: 349px;
    height: 100%;
    position: relative;
    text-align: center;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
}
.player-data {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
.player-name {
    margin-bottom: 1em;
    font-size: 1.2rem;
    font-weight: 600;
}
.player-score {
    margin: .45em 0;
    font-size: 3.8rem;
}
.player-btn {
    padding: .7em 2em;
    white-space: nowrap;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity .15s;
}
.player-btn:hover {
    opacity: .9;
}
/* ----- ----- ----- ----- ----- */
/* Button & display customization for each player */
#player1_btn {
    background-color: rgb(200, 181, 8);
}
#player2_btn {
    background-color: rgb(99, 171, 248);
}
.winner {
    color: #008000;
}
.loser {
    color: #ff0000;
}
.winner::before,
.loser::before {
    display: block;
    margin-bottom: .2em;
    font-size: 1.7rem;
    opacity: .8;
}
.winner::before {
    content: '🎌';
}
.loser::before {
    content: '😔';
}
/* ----- ----- ----- ----- ----- */
/* Restart block */
.restart-block {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}
#restart_btn {
    font-size: 1rem;
    margin-top: 2em;
    border: 0;
    padding: .7em 2em;
    background-color: rgba(198, 24, 24, .75);
    color: #fff;
    border-radius: 5px;
    transition: opacity 2.5s, background-color .25s;
}
#restart_btn:hover {
    cursor: pointer;
    background-color: rgba(136, 16, 38, .65);
}
.hide-restart {
    visibility: hidden;
    opacity: 0;
}